{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "display": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": false,
            "displayName": false
          }
        ]
      ]
    }
  },
  "presets": [
    "next/babel",
    "@babel/preset-typescript"
  ]
}